.skyroc-electron-jotai-devtools[data-position='bottom-left'] .jotai-devtools-trigger-button {
  bottom: 0.75rem !important;
  left: 0.75rem !important;
  right: unset !important;
  top: unset !important;
}

.skyroc-electron-jotai-devtools[data-position='bottom-right'] .jotai-devtools-trigger-button {
  bottom: 0.75rem !important;
  left: unset !important;
  right: 0.75rem !important;
  top: unset !important;
}

.skyroc-electron-jotai-devtools[data-position='top-left'] .jotai-devtools-trigger-button {
  bottom: unset !important;
  left: 0.75rem !important;
  right: unset !important;
  top: 0.75rem !important;
}

.skyroc-electron-jotai-devtools[data-position='top-right'] .jotai-devtools-trigger-button {
  bottom: unset !important;
  left: unset !important;
  right: 0.75rem !important;
  top: 0.75rem !important;
}
